<h1>Hiker friend <%=@user.username%>!</h1>
<br>
<% if logged_in? && current_user.id == @user.id %>
  <p>Welcome to your home page! to add trails go to any <a href="/trails">trails</a> page and click the button for "i have hiked this trail"</p>
  <form class="edit_bio" action="/users/<%=@user.slug%>/edit" method="post">
    <label for="bio">would you like to edit your current bio(250 characters or less)?</label>
    <textarea name="bio" id="bio" rows="5" cols="50" maxlength="250"><%=@user.bio%></textarea>
    <input type="submit" value="edit bio">
  </form>
  <br>
<% else %>
  <% if @user.bio %>
    <p>here is <%=@user.username%>'s bio:</p>
    <p><%=@user.bio%></p>
    <br>
  <% end %>
<% end %>
<% if @user.trails.empty? %>
  <p><%="this hiker has not done any trails"%> </p>
<% else %>
  <h3>trails this hiker has done:</h3>
  <% @user.trails.each do |trail| %>
  <p><a href="/trails/<%=trail.slug%>"><%=trail.name%></a></p>
  <% end %>
  <br>
  <h3>states this hiker has been to based on trails:</h3>
  <% @user.states.each do |state|%>
  <p><a href="/states/<%=state.code%>"><%=state.name%></a> (<%=state.code%>)</p>
  <% end %>
<% end %>
