<h1>Super sick trail: <%=@trail.name%>!</h1>
<br>
<p>length: <%=@trail.length%> mi</p>
<p>difficulty: <%=@trail.difficulty%></p>
<p>starting altitude: <%=@trail.start_alt%> ft</p>
<p>ending altitude: <%=@trail.end_alt%> ft</p>
<p>state: <%=@trail.length%></p>
