<% @trail.display_self(length: "mi", start_alt: "ft", end_alt: "ft").each do |attribute| %>
  <p><%=attribute%></p>
<% end %>
<% if !@trail.users.empty? %>
<p><%=@trail.users.length%> people have hiked this trail</p>
<% end %>
<br>
<% if logged_in? %>
<form class="hiked_trail" action="/users/<%=current_user.id%>/<%=@trail.id%>" method="post">
  <%if !current_user.trail_ids.include?(@trail.id)%>
    <input type="submit" value="i have hiked this trail">
  <% else %>
    <input type="submit" value="unhike trail">
  <% end %>
</form>
<% end %>
<% if logged_in? && @trail.creator_id == current_user.id %>
<p>Edit this trail:</p>
<form class="edit_trail" action="/trails/<%=@trail.slug%>/edit" method="post">
  <label for="name">trail name:</label>
  <input type="text" name="name" id="name">
  <label for="length">length of trail in miles:</label>
  <input type="text" name="length" id="length">
  <label for="difficulty">difficulty (scale from 0-10):</label>
  <input type="text" name="difficulty" id="difficulty">
  <label for="start_alt">starting altitude in feet:</label>
  <input type="text" name="start_alt" id="start_alt">
  <label for="end_alt">ending altitude in feet:</label>
  <input type="text" name="end_alt" id="end_alt">
  <br>
  <label for="state">which state is this trail in? (2 letter code or whole state name):</label>
  <input type="text" name="state" id="state">
  <br>
  <br>
  <input type="submit" value="edit trail">
</form>
<p>delete this trail forever</p>
<form class="delete_trail" action="/trails/<%=@trail.slug%>/destroy" method="post">
  <input type="submit" value="delete trail">
</form>
<% end %>
<% if flash.has?(:error) %>
  <%= flash[:error] %>
<% end %>
